/************************ mobil site  *****************************/

/********* header **************/

header {
  position: sticky; /*så den sidder fast*/
  top: 0; /*den sticker fra top 0*/
  z-index: 1;
  display: flex;
}

.logoimg {
  width: 77px;
  height: 46px;
}

/**************** Menu ***************/

/*************** om mig s. 2 ***************/

/* om mig afsnit */
.omafsnitknapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* uddannelses og erhvervserfaring */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.erhverv {
  grid-column: 1;
  grid-row: 1;
}

.uddannelse {
  grid-column: 2;
  grid-row: 1;
}

/* kompetencer */
.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
}

/*********** footer *******************/

.footer-sektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medierikoner {
  display: flex;
  gap: 8px;
}

/************************** desktop **************************/

@media (min-width: 1000px) {
  /* menu */
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /***************** forside ********************/

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }

  /* stor overskrift */
  .indexoverskrift {
    grid-column: 1/-1;
  }

  /***** om mig teaser ******/
  .ommigteaser {
    grid-column: 1;
    grid-row: 2;
  }

  /* billede */

  .indexvilma img {
    width: clamp(250px, 40vw, 520px);
    height: auto;
  }

  .indexvilma {
    grid-column: 2;
    grid-row: 2;
    margin-top: -80px;
    margin-right: 0px;
    width: 100%;
  }

  /*teaser projekter */

  .indexgrid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
