/************************ mobil site  *****************************/

/********* header **************/

header {
  position: sticky; /*så den sidder fast*/
  top: 0; /*den sticker fra top 0*/
  display: flex;
}

.logoimg {
  width: 77px;
  height: 46px;
}

/**************** Menu ****************************/

/***************** forside ********************/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  max-width: 900px;
  position: relative;
}

/* stor overskrift */
.indexoverskrift {
  grid-column: 1/-1;
}

/* billede */
.indexvilma {
  grid-column: 2;
  grid-row: 2;
}

/*********** footer *******************/

.footer-sektion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.medierikoner {
  display: flex;
  flex-direction: row;
}

/************************** desktop **************************/

@media (min-width: 1000px) {
  /* menu */
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /********* forside *************/
  /*teaser projekter */

  .indexgrid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
