/************************ mobil site  *****************************/

/********* header **************/

header {
  position: sticky; /*så den sidder fast*/
  top: 0; /*den sticker fra top 0*/
  z-index: 10;
  display: flex;
}

/**************** Menu ***************/

/*************** om mig s. 2 ***************/

/* om mig afsnit */
.omafsnitknapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* uddannelses og erhvervserfaring */

.erhverv {
  grid-column: 1;
  grid-row: 1;
}

.uddannelse {
  grid-column: 2;
  grid-row: 1;
}

/* kompetencer */
.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
}

/*********** footer *******************/

.footer-sektion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.medierikoner {
  display: flex;
  gap: 8px;
}
