/************* RESET **********/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/******** FONTE ********/

.hedvig-letters-serif-overskrifter {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tekst {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* baggrundsfarve */
body {
  background-color: var(--color-bg);
}

body p {
  color: var(--color-text);
  font-family: var(--font-text-family);
  font-size: var(--font-text-size);
}

/********* header *******************/
header {
  background-color: var(--color-bg);
  height: 60px;
}
.logo-btn img {
  width: 45px;
  height: 27px;
  margin: 15px;
}

/************* Forside ***************/

/* hero sektion*/
.indexoverskrift {
  margin-top: 20px;
  font-family: var(--font-h1-family);
  font-size: clamp(5.5rem, 14vw, 10rem);
  line-height: 0.75;
  color: var(--color-headline-bg);
  letter-spacing: -2.3%;
}

.indexvilma p {
  margin-top: 5px;
}

.indexvilma {
  width: 60%;
  justify-self: right;
  margin-top: -19%;
}

/* om mig sektion */

.ommigteaser {
  font-family: var(--font-text-family);
  margin-block: 50px 100px;
  margin-inline: 20px;
}
.ommigteaser h2 {
  margin-bottom: 20px;
  color: var(--color-text);
}
.ommigteaser p {
  margin-bottom: 15px;
}

.ommigteaser a {
  display: inline-block;
  background: var(--color-red);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/*projekter teaser */

.projektsektion {
  background-color: var(--color-red);
  padding: 50px 35px;
  margin: 40px;
}

.indexgrid_1-2 {
  background-color: var(--color-bg);
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
}

.teaserprojektimg {
  border: 1px solid var(--color-red);
  object-fit: cover;
}

.indexgrid_1-2 h2 {
  color: var(--color-text);
  margin-top: 20px;
}

.indexgrid_1-2 p {
  color: var(--color-text);
  margin-top: 10px;
}

/* cta teaser projekt knap */

.indexprojektknap {
  display: inline-block;
  background: var(--color-red);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: normal;
}

/*** footer ***/

footer {
  background-color: var(--color-red);
  margin-top: 300px;
  padding-inline: 5px;
  padding-block: 30px;
  font-family: Inter;
  color: white;
  font-weight: 100px;
}

.logofooter {
  width: 77px;
  height: 46px;
  align-self: center;
}

.footer-sektion h3 {
  margin-bottom: 10px;
}

.kontaktoplysninger a {
  text-decoration: none;
  color: white;
}
