/************* RESET **********/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/******** FONTE ********/

.hedvig-letters-serif-overskrifter {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tekst {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* generelle*/

/*baggrundsfarve */
body {
  background-color: var(--color-bg);
}

body p {
  color: var(--color-text);
  font-family: var(--font-text-family);
  font-size: var(--font-text-size);
}

body h2,
h3,
a {
  font-family: var(--font-text-family);
}

/********* header *******************/
header {
  background-color: var(--color-bg);
  height: 60px;
}
.logo-btn img {
  width: 45px;
  height: 27px;
  margin: 15px;
}

/******************* menu ********************/
.menu {
  display: none;
  list-style: none;
}

.menu li {
  margin: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  font-weight: bold;
}

/******************************** Burger menu **************************/
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  /*størrelsen på burgermenuikonet*/
  width: 30px;
  height: 20px;
  cursor: pointer; /*musen bliver til en hånd*/
  margin-left: auto;
  margin-right: 10px;
}

.burger .line {
  /* stregerne der danner ikonet*/
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-red);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  /*gør at der ikke er kant og baggrund på ikonet*/
  display: block;
  background-color: transparent;
  border: 0;
}
/* gør at krydset folder sig ud samt hastigheden på det*/
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}
/*selve menuboksen der folder sig ud*/
nav.active .menu {
  display: block;
  background-color: var(--color-bg);
  position: absolute;
  top: 0; /* hvor langt nede skal starte*/
  border: 2px solid var(--color-red);
  /* størrelsen på boksen */
  width: 50%;
  right: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 20px;
}

/************* Forside ***************/

/* hero sektion*/
.indexoverskrift {
  position: relative;
  margin-top: 20px;
  font-family: var(--font-h1-family);
  font-size: clamp(5rem, 14vw, 17.5rem);
  line-height: 0.75;
  color: var(--color-headline-bg);
  letter-spacing: 2%;

  z-index: 3;
}

.indexvilma p {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 200;
}

.indexvilma {
  width: 60%;
  justify-self: right;
  margin-top: -12%;
}

/* om mig sektion */

.ommigteaser {
  font-family: var(--font-text-family);
  margin-block: 60px 100px;
  margin-inline: 80px;
}
.ommigteaser h2 {
  margin-bottom: 30px;
  color: var(--color-text);
}
.ommigteaser p {
  margin-bottom: 15px;
}

.ommigteaser a {
  display: inline-block;
  background: var(--color-red);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*projekter teaser */

.projektsektion {
  background-color: var(--color-red);
  padding: 50px 35px;
  margin: 40px;
}

.indexgrid_1-2 {
  background-color: var(--color-bg);
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
}

.indexgrid_1-2 img {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid var(--color-red);
}

.indexgrid_1-2 h2 {
  color: var(--color-text);
  margin-top: 20px;
  justify-self: left;
}

.indexgrid_1-2 p {
  color: var(--color-text);
  margin-top: 10px;
}

/* cta teaser projekt knap */

.indexprojektknap {
  display: inline-block;
  background: var(--color-red);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: normal;
}

/******************* Om mig s. 2 *****************************/

/* overskrifter */
.om-overskrifter {
  background-color: var(--color-red);
  padding-block: 100px;
  font-family: var(--font-h1-family);
  text-transform: uppercase;
  margin-block: 30px;
}

.om-overskrifter h1,
.om-overskrifter h2 {
  font-weight: normal;
  color: white;
  justify-self: center;
}

.om-overskrifter h1 {
  font-size: clamp(3rem, 8vw, 8.8rem);
}

.om-overskrifter h2 {
  padding-left: 180px;
  font-size: clamp(1.875rem, 5vw, 6rem);
}

/* portrætbillede */
.om-img {
  width: 80%;
  margin: 50px;
}

/* om mig afsnit */
.om-info {
  margin-inline: 50px;
}

.om-info h3 {
  margin-block: 50px 20px;
  color: var(--color-text);
  font-size: 26px;
}

.omafsnitknapper {
  justify-items: center;
  margin-block: 40px 100px;
}
/* styling af hver knap*/
.kontaktknap,
.projekterknap {
  display: inline-block;
  background: var(--color-red);
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* uddanelses og erhvervserfaring afsnit*/

.om-udd {
  background-color: var(--color-red);
  margin-inline: 1px;
  padding-top: 50px;
  margin-bottom: 30px;
}

.om-udd h2 {
  font-family: Inter;
  font-size: 26px;
  color: white;
  text-align: center;
}

/* .footerline {
  height: 20px;
  width: 2px;
  color: white;
  justify-self: center;
} */
.grid_1-1 {
  margin-top: 50px;
  margin-inline: 50px;
  gap: 30px;
  color: white;
}

.grid_1-1 li {
  margin-block: 20px;
  width: 95%;
}

/** lært på 1. semester afsnit */
.semester-info {
  text-align: center;
  color: var(--color-text);
  margin-inline: 50px;
  margin-bottom: 50px;
}

.semester-info h2 {
  color: var(--color-text);
  font-size: 36px;
  margin-block: 90px 30px;
}

/* mine kompetenxer */
.kompetencer h2 {
  text-align: center;
  color: var(--color-text);
  font-size: 36px;
  margin-top: 90px;
}

.grid_1-1-1-1-1 div {
  background-color: var(--color-red);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-inline-start: 5px;
  margin-top: 20px;
}

.grid_1-1-1-1-1 p {
  color: white;
  font-size: 12px;
}

.cirkel {
  width: 200px;
  aspect-ratio: 1/1;

  background-color: var(--color-red);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.1;
}

/***************** mine projekter s. 3 *******************/
.projekthero {
  position: relative;
  min-height: 300px;
  padding: 20px;
  overflow: hidden;
}

.projekthero h1 {
  position: relative;
  z-index: 2;
  font-family: var(--font-h1-family);
  font-size: 150px;
  line-height: 0.9;
  color: var(--color-text);
}
.circle {
  position: absolute;
  width: 400px;
  aspect-ratio: 1 / 1;
  background: white;
  border-radius: 50%;
  right: -80px;
  z-index: 1;
}

.mineprojekter {
  padding: 20px;
}

.mineprojekter h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-text);
  margin-top: 50px;
}

.projekt-kort {
  background: var(--color-red);
  margin-block: 40px;
  padding: 14px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin-inline: 50px;
  padding-inline: 20px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.projekt-kort p,
.projekt-kort h3 {
  font-family: Inter;
  color: white;
  margin-inline: 20px;
}

.projekt-kort img {
  width: 90%;
  display: block;
  justify-self: center;
  margin-top: 20px;
  border: 1px solid black;
}
.projekt-kort h3 {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: bold;
}

.projekt-kort p {
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.projekt-kort button {
  background: none;
  border: none;
  padding: 0;
  color: white;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  justify-self: end;
  transition: opacity 0.2s;
}

.projekt-kort button:hover {
  opacity: 0.7;
}

/****** pop over på forsiden ****/

[popover] {
  padding: 1rem;
  margin-top: 50px;
  max-height: 80%;
  max-width: 600px;
  width: 80%;

  transition: 1s allow-discrete;
  opacity: 0;
  rotate: 360deg;
  justify-self: center;
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
  color: var(--color-text);
}

:popover-open {
  display: grid;
  opacity: 1;
  rotate: none;
}

::backdrop {
  backdrop-filter: blur(10px);
}

@starting-style {
  :popover-open {
    opacity: 0;
    rotate: 360deg;
  }
}

/**** styling af åbne artikler ********************/

/* projekt 2*/

#projekt-kort2_popover {
  background-color: var(--color-bg);
}

#projekt-kort2_popover h1 {
  font-size: 36px;
  font-family: var(--font-h1-family);
  color: var(--color-text);
  margin-bottom: 30px;
}

#projekt-kort2_popover h2 {
  text-align: left;
}

#projekt-kort2_popover p {
  line-height: 25px;
  color: var(--color-text);
  font-size: 16px;
}

/* projekt 3*/

#projekt-kort3_popover {
  background-color: var(--color-bg);
}

#projekt-kort3_popover h1 {
  font-size: 36px;
  font-family: var(--font-h1-family);
  color: var(--color-text);
  margin-bottom: 30px;
}

#projekt-kort3_popover h2 {
  text-align: left;
}

#projekt-kort3_popover p {
  line-height: 25px;
  color: var(--color-text);
  font-size: 16px;
}

/* projekt 4*/

#projekt-kort4_popover {
  background-color: var(--color-bg);
}

#projekt-kort4_popover h1 {
  font-size: 36px;
  font-family: var(--font-h1-family);
  color: var(--color-text);
  margin-bottom: 30px;
}

#projekt-kort4_popover h2 {
  text-align: left;
}

#projekt-kort4_popover p {
  line-height: 25px;
  color: var(--color-text);
  font-size: 16px;
}

/* projekt 5*/

#projekt-kort5_popover {
  background-color: var(--color-bg);
}

#projekt-kort5_popover h1 {
  font-size: 36px;
  font-family: var(--font-h1-family);
  color: var(--color-text);
  margin-bottom: 30px;
}

#projekt-kort5_popover h2 {
  text-align: left;
}

#projekt-kort5_popover p {
  line-height: 25px;
  color: var(--color-text);
  font-size: 16px;
}

/*************************** scroll funktioner ********************************/

/* scroll i toppen*/
html::before {
  content: "";
  inset: 0; /*indsætter noget tilfældigt og giver det en farve*/
  position: fixed;
  background-color: var(--color-red);
  block-size: 4px; /*højden*/
  animation: scroll-line linear both 2s;
  animation-timeline: scroll();
  transform-origin: 0 0;
  z-index: 1000;
}
@keyframes scroll-line {
  from {
    scale: 0 1; /* vokser 0 i højden og 1 i siderne*/
  }
}

/**********************************************************/
/******************* footer *****************************/

footer {
  background-color: var(--color-red);
  padding-inline: 5px;
  padding-block: 30px;
  font-family: Inter;
  margin-top: 130px;
}

footer p {
  color: white;
  font-size: 20;
}

.logofooter {
  width: 77px;
  height: 46px;
  align-self: center;
}

.footer-sektion h3 {
  margin-bottom: 10px;
  color: white;
}

.kontaktoplysninger a {
  text-decoration: none;
  color: white;
}

/*************************************************************************/
/************************** desktop ********************************************/

@media (min-width: 1200px) {
  /* menu */
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  /***************** forside ********************/

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 0 auto;
  }

  /* stor overskrift */
  .indexoverskrift {
    grid-column: 1/-1;
    font-size: var(--font-h1-size);
    max-width: 1200px;
    letter-spacing: 2%;
  }

  .indexvilma {
    grid-column: 2;
    width: 100%;
    height: auto;
    margin-top: -36%;
    right: 0;
  }

  .indexvilma p {
    font-size: 35px;
  }
  /***** om mig teaser ******/
  .ommigteaser {
    grid-column: 1;
    grid-row: 3;
    margin-inline: 50px;
    margin-block: -85px 100px;
  }

  .ommigteaser p,
  .indexgrid_1-2 p,
  .om-info p {
    font-size: 24px;
    font-family: var(--font-text-family);
  }

  .ommigteaser h2,
  .indexgrid_1-2 h2,
  .om-info h3,
  .om-udd h2 {
    font-size: 36px;
    font-family: var(--font-text-family);
  }

  /*teaser projekter */

  .indexgrid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    height: 430px;
    gap: 50px;
  }

  .indexgrid_1-2 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid var(--color-red);
  }

  /************************************************************************** Om mig s. 2 desktop ******************************************************************/

  .omafsnit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .ommigteaser a,
  .indexprojektknap,
  .kontaktknap,
  .projekterknap {
    padding: 10px 65px;
    font-size: 20px;
    transition: all 0.1s ease;
  }

  .kontaktknap,
  .projekterknap {
    margin-top: 50px;
  }

  .kontaktknap:hover,
  .ommigteaser a:hover,
  .indexprojektknap:hover,
  .projekterknap:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #7a0000;
  }

  /* uddannelse og erfaring afsnit */

  .om-udd {
    margin-block: 100px;
    margin-inline: 70px;
    padding: 50px;
    justify-content: center;
  }
}
